body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day {
  cursor: pointer;
}

.day:hover {
  background-color: #f0f0f0;
}

/* .day.done {
  background-color: #ffeb99;
} */

.day.done {
  background-image: url("image/1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


table {
  border-collapse: collapse;
  font-size: 1.5rem;
}

th,
td {
  width: 64px;
  height: 64px;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
}
